*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap : 10px;
}
.item {
    width: 100px;
    height: 100px;
}
.item-1{
    background-color: blue;
}
.item-2{
    background-color: rgb(255, 0, 132);
    border-radius: 50%;
}
.item-3{
    background-color: blue;
}